.Technologies {
	display: flex;
	flex-direction: column;
	padding: 5% 5%;
	background: #FEDC3D;
}
.Technologies .technology-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.Technologies .technology-item {
	width: 200px;
	height: 200px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	padding: 2%;
}
.Technologies .technology-item img{
	max-width: 100%;
	max-height: 100%;
}

@media all and (min-width: 900px) {
	.Technologies {
		padding-left: 15%;
		padding-right: 15%;
	}
}
@media all and (max-width: 600px) {
	.Technologies .technology-item {
		flex-grow: 1;
	}
	.Technologies .technology-item {
		width: 80px;
		height: 80px;
		margin: 1%;
	}
}
@media all and (max-width: 335px) {
	.Technologies .technology-item {
		padding: 5%;
	}
}


