.Technologies {
	display: flex;
	flex-direction: column;
	padding: 5% 5%;
}
.Technologies .technology-list {
	display: flex;
	flex-wrap: wrap;
}
.Technologies .technology-item {
	width: 200px;
	height: 200px;
	background: orange;
	flex-grow: 1;
}
.Technologies .technology-item img{
	max-width: 100%;
	max-height: 100%;
}
@media all and (min-width: 900px) {
	.Technologies {
		padding-left: 15%;
		padding-right: 15%;
	}
}
