.Welcome {
	display: flex;
	justify-content: space-between;
	background: black;
	color: white;
	padding: 10% 5%;
}
.Welcome .app-feature-showcase img {
	max-width: 100%;
	max-height: 100%;
}
.Welcome .title {
	font-size: 3.5em;
	font-weight: 900;
	margin: 2% 0%;
}
.Welcome .description {
	font-size: 2em;
	margin: 2% 0%;
	color: gray;
}
.Welcome .welcome-actions {
	margin-top: 10%;
}
.Welcome .block {
	padding: 2% 4%;
	box-sizing: border-box;
	display: inline-block;
	color: white;
	margin-right: 2%;
	opacity: 0.80;
	transition: opacity 0.2s ease-in-out, border 0.2s ease-in-out;
	font-size: 1em;
	border: 1px solid lightgray;
}
.Welcome .block:hover{
	opacity: 1;
	border-color: lightgrey;
	box-shadow: 0 3px 6px rgba(182, 179, 179, 0.16), 0 3px 6px rgba(182, 179, 179, 0.16);
}
.Welcome .start {
	background: #2e7d32;
}
.Welcome .github {
	background: #ff6f00;
}

@media all and (max-width: 1100px) { 
	.Welcome {
		flex-direction: column;
	}
	.Welcome .app-details {
		text-align: center;
	}
	.Welcome .app-feature-showcase {
		order: -1;
		text-align: center;
	}
	.Welcome .app-feature-showcase img {
		max-width: 50%;
		max-height: 50%;
	}
}
@media all and (min-width: 1101px) { 
	.Welcome .app-details {
		max-width: 45%
	}
	.Welcome .app-feature-showcase {
		width: 55%;
	}
}
@media all and (max-width: 1100px) { 
	.Welcome .app-feature-showcase img {
		max-width: 75%;
		max-height: 75%;
	}
}
@media all and (max-width: 600px) { 
	.Welcome .app-feature-showcase img {
		max-width: 100%;
		max-height: 100%;
	}
	.Welcome .block {
		padding: 3% 6%;
		box-sizing: border-box;
		display: inline-block;
		color: white;
		margin-right: 2%;
		opacity: 0.90;
		transition: opacity 0.2s ease-in-out, border 0.2s ease-in-out;
		font-size: 1.15em;
		border: 1px solid lightgray;
	}
}
@media all and (max-width: 320px) { 
	.Welcome .title {
		font-size: 2em;
		font-weight: 900;
		margin: 2% 0%;
	}
	.Welcome .description {
		font-size: 1em;
		margin: 2% 0%;
		color: gray;
	}
}