.Usage {
	display: flex;
	flex-direction: column;
	background: black;
	color: whitesmoke;
}
.Usage .usage-video {
	display: flex;
	justify-content: center;
	transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Usage .usage-video .player {
	max-width: 100% !important;
}
.Usage .usage-video video {
	max-width: 100% !important;
	height: auto;
}


