.Usage {
	display: flex;
	flex-direction: column;
	padding: 5% 5%;
}
.Usage .usage-video {
	display: flex;
	justify-content: center;
}
.Usage .usage-video .player {
	width: 100% !important;
}
.Usage .usage-video video {
	width: 100% !important;
  height: auto
}

@media all and (min-width: 900px) {
	.Usage {
		padding-left: 15%;
		padding-right: 15%;
	}
}


