.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.App .navigation {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 100;
}
.App .content {
  flex-grow: 1;
  overflow: scroll;
  background: #060606;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}